# My testing files
test.py
rewrite*.py
randomFiles/

# Venv and cache
.venv/
__pycache__/
*.pyc
.vscode/
.github/

# Files from the script
*.bl
xfoil*.txt
/data/temp/*.dat
data/temp/*.txt
data/final_output/*.dat
data/final_output/*.txt