# My testing files
test.py
rewrite.py
*.dat
randomFiles/

# Venv and cache
.venv/
__pycache__/
*.pyc
.vscode/

# Files from the script
*.bl
xfoilCommands*.txt
/data/temp/*.dat
data/temp/*.txt
data/final_output/*.dat
data/final_output/*.txt